.user-search-bar {
    width: 250px;

}

.LinkStyle {
    text-decoration: none;
}

.signup {
    border: solid gray 1px;
    border-radius: 8px;
}

.rbt-loader {
    display: none;
}

.SearchBarForm {
    display: flex;
}

@media (min-width:991px) {
    .rbt {
        margin-right: 5px;
    }
}

@media (max-width:991px) {
    #user-search-bar-aysnc {
        position: relative !important;
        transform: none !important;
    }

    .SearchBarForm {
        flex-direction: column;
    }

    .signup {
        border: none;
    }
}