.user-search-bar {
    width: 250px;

}

.LinkStyle {
    text-decoration: none;
}

.signup {
    border: solid gray 1px;
    border-radius: 8px;
}

.rbt-loader {
    display: none;
}

.SearchBarForm {
    display: flex;
}

@media (max-width:991px) {
    .SearchBarForm {
        flex-direction: column;
    }

    .signup {
        border: none;
    }
}