.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar>img {
    width: 220px;
    height: 220px;
    align-self: end;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    object-fit: cover;
    overflow: inherit;
    border-radius: 50%;
}