.CommentItem img {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    object-fit: cover;
    overflow: inherit;
    border-radius: 50%;
}

.commentImgContainer {
    padding: 0;
    display: flex;
    margin-top: 10px;
    justify-content: end;
}

@keyframes redBack {
    from {
        background-color: none;
    }

    to {
        background-color: rgba(229, 76, 76, 0.637);
    }
}

.delete:hover {
    animation-name: redBack;
}

.actionButton:hover {
    border-radius: 50%;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
}