@keyframes redBack {
    from {
        background-color: none;
    }

    to {
        background-color: rgba(229, 76, 76, 0.637);
    }
}

.delete:hover {
    animation-name: redBack;
    border-radius: 50%;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
}