.itemAvatar img {
    width: 35px;
    height: 35px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    object-fit: cover;
    overflow: inherit;
    border-radius: 50%;
}

.itemAvatar {
    width: 60%;
    margin-bottom: 20px;
}

.actionButton {
    width: 30px;
    height: 30px;

}

.commentHeader {
    justify-content: flex-end;
}